<div class="container-fluid">
  <nav class="navbar navbar-light bg-light mb-3 font-monospace fs-4">
    <div class="container-fluid">
      <a class="navbar-brand">Pokemon Fan Club</a>

      <ul class="list-group list-group-horizontal navbar-nav mx-2 mb-2 mb-lg-0">
        <li class="list-group-item nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="list-group-item nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/pokemon/list"
            >Pokemon List</a
          >
        </li>

        <li class="list-group-item nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/about"
            >About
          </a>
        </li>
      </ul>

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          #searchBar
          (change)="search(searchBar)"
        />
        <button class="btn btn-outline-success" type="submit">
          <a href="/pokemon/list/{{ searchInput }}"> Search</a>
        </button>
      </form>
    </div>
  </nav>
</div>
