<div class="container">
  <div class="container">
    <button class="btn btn-primary mb-3" (click)="open(content)">
      Add a Pokemon
    </button>
  </div>

  <div class="container">
    <div class="row" *ngIf="allPokemon.length === 0">
      {{ Error }}
    </div>
  </div>

  <div class="container">
    <div
      class="alert alert-success alert-dismissible fade show"
      role="alert"
      *ngIf="pokemonAdded"
    >
      Pokemon Added!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="removeSuccessAlert()"
      ></button>
    </div>
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="isError"
    >
      Error Occurs!
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
        (click)="removeErrorAlert()"
      ></button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let pokemon of pokemonToDisplay">
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshPokemons()"
    >
    </ngb-pagination>
  </div>
</div>

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Pokemon</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form
            [formGroup]="pokemonForm"
            (submit)="addPokemon()"
            class="d-flex flex-column"
          >
            <input
              class="mb-2 rounded-sm text-center"
              type="text"
              placeholder="Pokemon Name"
              formControlName="name"
              id="name"
              (change)="validateName()"
              required
            />

            

            <input
              class="mb-2 rounded-sm text-center"
              type="number"
              placeholder="Pokemon Id"
              formControlName="id"
              required
            />
            <input
              class="mb-2 rounded-sm text-center"
              type="text"
              placeholder="Pokemon Power"
              formControlName="power"
              required
            />
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                [disabled]="
                  this.Name.invalid || this.Id.invalid || this.Power.invalid
                "
              >
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Pokemon</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="pokemonForm">
      <div class="mb-3">
        <label for="name">Pokemon Name</label>
        <div class="input-group">
          <input
            class="form-control mb-2 rounded-sm"
            type="text"
            placeholder="Pokemon Name"
            formControlName="name"
            id="name"
            (change)="validateName()"
            required
          />
        </div>

        <div *ngIf="nameError" class="alert alert-danger">
          <div *ngIf="this.Name.errors?.['required']">Name is required.</div>
          <div *ngIf="this.Name.errors?.['pattern']">
            Name Must be alphabet.
          </div>
        </div>

        <label for="name">Pokemon Id</label>
        <div class="input-group">
          <input
            class="form-control mb-2 rounded-sm"
            type="number"
            placeholder="Pokemon Id"
            formControlName="id"
            required
            (change)="validateId()"
          />
        </div>

        <div *ngIf="idError" class="alert alert-danger">
          <div *ngIf="this.Id.errors?.['required']">Id is required.</div>
          <div *ngIf="this.Id.errors?.['pattern']">Id Must be Number.</div>
        </div>

        <label for="name">Pokemon Power</label>
        <div class="input-group">
          <input
            class="form-control mb-2 rounded-sm"
            type="text"
            placeholder="Pokemon Power"
            formControlName="power"
            required
            (change)="validatePower()"
          />
        </div>

        <div *ngIf="powerError" class="alert alert-danger">
          <div *ngIf="this.Power.errors?.['required']">Power is required.</div>
          <div *ngIf="this.Power.errors?.['pattern']">
            Power Must be alphabet.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-dark"
      (click)="addPokemon(modal)"
      [disabled]="this.Name.invalid || this.Id.invalid || this.Power.invalid"
    >
      Save
    </button>
  </div>
</ng-template>
