<div class="container">
  <app-header></app-header>
  <div
    class="alert alert-success alert-dismissible fade show"
    role="alert"
    *ngIf="pokemonAdded"
  >
    Pokemon Added!
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="removeSuccessAlert()"
    ></button>
  </div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    *ngIf="isError"
  >
    Error Occurs!
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="removeErrorAlert()"
    ></button>
  </div>
</div>

<div class="container">
  <button
    class="btn btn-primary mb-3"
    data-bs-target="#exampleModal"
    data-bs-toggle="modal"
  >
    Add a Pokemon
  </button>
</div>

<div class="container">
  <div class="row" *ngIf="allPokemon.length === 0; else table">
    {{ Error }}
  </div>
</div>

<ng-template #table>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mb-3" *ngFor="let pokemon of allPokemon">
        <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Pokemon</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form
            [formGroup]="pokemonForm"
            (submit)="addPokemon()"
            class="d-flex flex-column"
          >
            <input
              class="mb-2 rounded-sm text-center"
              type="text"
              placeholder="Pokemon Name"
              formControlName="name"
              id="name"
              required
            />

            <!-- <div *ngIf="this.Name.errors?.['required']">Name is required.</div> -->
            <div *ngIf="this.Name.invalid" class="alert alert-danger">
              <div *ngIf="this.Name.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="this.Name.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
              <div *ngIf="this.Name.errors?.['forbiddenName']">
                Name cannot be Bob.
              </div>
            </div>

            <input
              class="mb-2 rounded-sm text-center"
              type="number"
              placeholder="Pokemon Id"
              formControlName="id"
            />
            <input
              class="mb-2 rounded-sm text-center"
              type="text"
              placeholder="Pokemon Power"
              formControlName="power"
            />
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <div *ngIf="!this.Name.invalid; else elseBlock">
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Save changes
                </button>
              </div>
              <ng-template #elseBlock>
                <button type="submit" class="btn btn-primary" disabled>
                  Save changes
                </button>
              </ng-template>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
