<div class="container">
  <app-header></app-header>
</div>
<div class="container">
  <button
    class="btn btn-primary mt-3"
    data-bs-target="#exampleModal"
    data-bs-toggle="modal"
  >
    Add a Pokemon
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Pokemon</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form [formGroup]="pokemonForm" class="d-flex flex-column">
            <input
              class="mb-2 rounded-sm"
              id="Name"
              type="text"
              placeholder="Pokemon Name"
              formControlName="name"
            />
            <input
              class="mb-2 rounded-sm"
              id="id"
              type="number"
              placeholder="Pokemon Id"
              formControlName="id"
            />
            <input
              class="mb-2 rounded-sm"
              id="power"
              type="text"
              placeholder="Pokemon Power"
              formControlName="power"
            />
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
